.contactBox {
	background-color: #ffffff;
	min-height: 100vh;
	position: relative;
}
.cardBox {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 200px;
	left: 50%;
	transform: translate(-50%);
	height: 250px;
	width: 400px;
	border-radius: 5px;
	transition: height 0.3s, width 0.9s, box-shadow 0.3s;
}
.text {
	padding: 10px 20px;
	letter-spacing: 2px;
	height: 60%;
	transition: height 0.5s;
}
.cardBox:hover {
	height: 400px;
	width: 800px;

	box-shadow: 2px -1px 10px rgb(168, 162, 162);
}
.cardBox:hover .text {
	height: 100%;
}
.cardBox:hover .hand {
	opacity: 0;
}
.cardBox:hover .contactInfoBox {
	opacity: 1;
}
.cardBox:hover .moreInfo {
	opacity: 0;
}
.contactInfoBox {
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	bottom: 20%;
	opacity: 0;
	transition: opacity 1s;
}

.phone,
.location {
	font-size: 1.6em;
}
.phone {
	color: green;
}
.location {
	color: rgb(235, 51, 27);
}
.mapBox {
	position: absolute;
	bottom: 0;
	margin-top: 2em;
	width: 100%;
}
.map {
	height: 300px;
	width: 100%;
}
.text h2 {
	letter-spacing: 3px;
	font-size: 3em;
	font-family: 'Genos', sans-serif;
	font-weight: 600;
}
.more {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.phoneBox {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 5px 20px;
	border-radius: 25px;
	box-shadow: 0 0 10px transparent;
	transition: box-shadow 0.5s;
}
.phoneBox:hover {
	box-shadow: 0 0 10px rgba(9, 252, 9, 0.363);
	padding: 5px 20px;
	border-radius: 25px;
}
.phoneBox p {
	margin-left: 5px;
}
.moreInfo {
	opacity: 1;
	transition: opacity 0.3s;
}

.hand {
	position: relative;
	bottom: 20px;
	left: 30%;
	font-size: 2em;
	transform: translate(-50%) rotate(-20deg);
	animation: pulse 2s forwards infinite;
	opacity: 1;

	transition: opacity 0.5s;
}
@keyframes pulse {
	0% {
		transform: scale(1) translate(-50%) rotate(-20deg);
	}
	50% {
		transform: scale(1.2) translate(-50%) rotate(-30deg);
	}
	100% {
		transform: scale(1) translate(-50%) rotate(-20deg);
	}
}
