.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--background-color);
	color: var(--white);
}
.main h2 {
	letter-spacing: 1px;
	margin-bottom: 0.5em;
	font-size: 3em;
}
.main p {
	font-size: 2em;
}
.main a {
	position: relative;
	display: inline-block;
	margin-top: 2em;
	padding: 15px 30px;
	letter-spacing: 5px;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.2s;
	font-size: 14px;
	color: var(--white);
}
.main a:hover {
	background-color: #a6aaad;
	box-shadow: 0 0 10px #a6aaad, 0 0 40px #a6aaad, 0 0 80px #a6aaad;
	padding: 15px 60px;
	transition: 0.5s;
	transition-delay: 1s;
}
.main a span {
	position: absolute;
	display: block;
}
.main a span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #a6aaad);
}
.main a:hover span:nth-child(1) {
	left: 100%;
	transition: 1s;
}

.main a span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #a6aaad);
}
.main a:hover span:nth-child(3) {
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

.main a span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #a6aaad);
}
.main a:hover span:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.main a span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(0deg, transparent, #a6aaad);
}
.main a:hover span:nth-child(4) {
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}
