.mainContainer {
	position: relative;
	top: 200px;
	text-align: center;
}

.imagesContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.mainPhoto {
	width: 700px;
}
.imageBox {
	padding: 10px 20px;
}
.image {
	width: 100px;
}
.active {
	width: 150px;
}
