.mainContainer {
	position: relative;
	top: 200px;
	text-align: center;
}

.imagesContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.bigImage {
	display: flex;
	justify-content: center;
	align-items: center;
}
.mainPhotoBox {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	max-width: 800px;
}
.mainPhoto {
	border-radius: 2px;
	height: 100%;
	width: 100%;
}
.imageBox {
	margin-top: 2em;
	padding: 5px 10px;
}
.switchBtnLeft,
.switchBtnRight {
	position: absolute;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--arrow-bg);
	margin: 0.5em;
	height: 100%;
	cursor: pointer;
}
.switchBtnRight {
	right: -10px;
}
.switchBtnLeft {
	left: -10px;
}
.icon {
	font-size: 30px;
	color: var(--black);
}
.image {
	width: 100px;
	cursor: pointer;
}
.active {
	width: 150px;
	box-shadow: 0 0 5px var(--black);
}
