.aboutus {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;

	padding: 1em;
	overflow: hidden;
}

.aboutusTextBox {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	max-width: 800px;
	letter-spacing: 2px;
	opacity: 0;
	transition: opacity 0.5s, transform 1s;
	transform: translateX(-200%);
}
.aboutusTextBox h2 {
	font-size: 2em;
	margin-bottom: 1em;
}
.aboutusTextBox p {
	font-size: 1.2em;
}
.show {
	animation: show 0.7s ease-in-out forwards;
}

@keyframes show {
	0% {
		opacity: 0;
		transform: translateX(-200%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
.cardContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 3em;
	margin-bottom: 2em;
}
.cardBox {
	position: relative;
	width: 400px;
	height: 500px;
	perspective: 800px;
	border-radius: 15px;
	margin: 1em;
}
.cardTextBox {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	padding: 30px;
	border-radius: 15px;
	opacity: 0;
	background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);

	transform: rotateX(-180deg);
	transition: transform 0.8s;
}
.image {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;

	background-position: center;
	background-size: cover;
	border-radius: 15px;
	transition: transform 0.8s;
	background-color: #dddddd5e;
}

.img {
	position: absolute;
	background-position: center;
	background-size: cover;
	left: 50%;
	top: 0;
	transform: translate(-50%);
	height: 300px;
	width: 400px;
}

.more,
.more p,
.hand {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.more {
	width: 100%;
	bottom: 80px;
	left: 50%;
	transform: translate(-50%);
}
.more p {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	box-shadow: 0 0 5px 1px rgb(167, 163, 163);
}
.hand {
	bottom: 30px;
	left: 55%;
	font-size: 2em;
	transform: translate(-50%) rotate(-20deg);
	animation: pulse 2s forwards infinite;
}

.cardTextBox h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 1em;
}
.cardTextBox div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.cardTextBox p {
	margin-left: 5px;
}

.cardBox:hover .cardTextBox {
	opacity: 1;
	transform: rotateX(0deg);
}

.cardBox:hover .image {
	opacity: 0;
	transform: rotateX(180deg);
}
.mapBox {
	width: 100%;
}
.map {
	width: 100%;
	height: 300px;
}

@keyframes pulse {
	0% {
		transform: scale(1) translate(-50%) rotate(-20deg);
	}
	50% {
		transform: scale(1.2) translate(-50%) rotate(-30deg);
	}
	100% {
		transform: scale(1) translate(-50%) rotate(-20deg);
	}
}
@media only screen and (max-width: 768px) {
	.cardBox {
		position: relative;
		padding: 10px 20px;
		width: 350px;
		height: 400px;
		perspective: 800px;
		border-radius: 15px;
	}
	.aboutusTextBox {
		letter-spacing: 1px;
	}
}
