.dataBox {
	height: 100vh;
	text-align: center;
	color: white;
	font-size: 1.2em;
	top: 0;
}
.data {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.678);
}
.textBox {
	position: absolute;
	top: 150px;
	text-transform: uppercase;
	animation: slide 2s forwards linear;
}

.textBox h1 {
	position: relative;
	letter-spacing: 1px;
	font-size: 2em;
}
.textBox h3 {
	letter-spacing: 2px;
}
@keyframes slide {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.textBox p {
	font-weight: bold;
}
.img {
	position: absolute;
	background-position: center;
	background-image: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.arrowBox {
	position: absolute;
	bottom: 100px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ffffff63;
	animation: arrow 3s infinite ease-in;
	cursor: pointer;
}
.arrow {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: black;
}

@keyframes arrow {
	0% {
		bottom: 100px;
	}
	25% {
		bottom: 80px;
	}
	50% {
		bottom: 90px;
	}
	75% {
		bottom: 80px;
	}
	100% {
		bottom: 100px;
	}
}
@media only screen and (max-width: 768px) {
	.dataBox {
		font-size: 0.8em;
	}
	.textBox {
		top: 200px;
	}
	.textBox h1 {
		font-size: 2em;
		letter-spacing: 0.5px;
	}
	.textBox h3 {
		font-size: 1.6em;
	}
	.p{
		font-size: 1.4em;
		letter-spacing: 1px;
		padding: 10px 20px;
	}
}
