.footer {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-weight: bold;
	margin-top: 2em;
	background-color: rgba(250, 250, 250, 0.445);
}
.footer p {
	margin-left: 0.5em;
}

.dataBox {
	display: flex;
	width: 40%;
	justify-content: space-around;
	align-items: flex-start;
	text-align: center;
}
.dataBox h3 {
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 2px;
}
.telBox p{
	margin-left: 0.2em;
}
@media only screen and (max-width: 768px) {
	.dataBox{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}