.navBox {
	background-color: rgba(250, 250, 250, 0.041);
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	height: 80px;
	font-size: 2em;
	box-shadow: 0 0 5px #000000;
	z-index: 100;
}
.mainNav {
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 1400px;
	height: 100%;
	overflow: hidden;
}
.logoIcon {
	position: absolute;
	font-size: 200px;

	top: -20px;
	z-index: -10;
	transform: rotate(90deg);
	color: rgba(255, 255, 255, 0.247);
}
.logo,
.logoSmall {
	letter-spacing: 3px;
	font-size: 1.5em;
	font-family: 'Genos', sans-serif;
	font-weight: 600;
	color: var(--logo);
	z-index: 10;
}
.logoSmall {
	margin-bottom: 0.5em;
	margin-top: 1em;
}

.logo a,
.logoSmall a {
	color: var(--logo);
}

.smallPages {
	display: none;
}
.smallPages a {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.smallPages button {
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	background: black;
	font-size: 1em;
}
.bigPages {
	display: flex;
}
.bigPages a {
	position: relative;
	display: inline-block;
	margin-top: 2em;
	padding: 10px 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.2s;
	font-size: 14px;
	transition: 0.3s;
}
.bigPages a span {
	position: absolute;
	display: block;
}

.bigPages a span:nth-child(1),
.bigPages a span:nth-child(2) {
	top: -100%;
	width: 1px;
	height: 100%;
	transform: rotate(30deg);
	background: linear-gradient(90deg, transparent, #a6aaad);
	transition: 0.5s;
}

.bigPages a span:nth-child(1) {
	left: 16px;
}
.bigPages a span:nth-child(2) {
	right: -9px;
}

.bigPages a:hover span:nth-child(1),
.bigPages a:hover span:nth-child(2) {
	top: -100%;
	height: 200%;
	transform: rotate(30deg);
	background: linear-gradient(180deg, transparent, #a6aaad88);
	width: 1px;
}

.bigPages a:hover span:nth-child(1) {
	left: 16px;
}
.bigPages a:hover span:nth-child(2) {
	right: 0px;
}
.bigPages a:hover {
	color: #a6aaad;
}
.active a {
	color: #d8dfe4;
	
}

.burger {
	display: none;
	font-size: 1.5em;
}
.close {
	position: absolute;
	top: 10%;
	right: 10%;
	font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
	.navBox {
		font-size: 1em;
	}
	.burger {
		display: block;
	}
	.bigPages {
		display: none;
	}
	.smallPages {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		background-color: #fff;
		top: 0;
		width: 100%;
		height: 300px;
	}
}
