* {
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', 'Genos', sans-serif;
}

body {
	margin: 0;
	background-color: white;
}
a {
	text-decoration: none;
	color: black;
}

:root {
	--background-color: ;
	--button-nav: #f1ab13;
	--text: #ffffff;
	--small-text: white;
	--logo: rgb(255, 255, 255);
}
