* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Montserrat', 'Genos', sans-serif;
}

body {
	margin: 0;
	background-color: var(--background-color);
}
a {
	text-decoration: none;
	color: black;
}

:root {
	--background-color: #ddd;
	--button-nav: #f1ab13;
	--text: #ffffff;
	--small-text: white;
	--logo: rgb(255, 255, 255);
	--logo-ScrollDown: rgb(0, 0, 0);
	--logo-Icon: rgba(255, 255, 255, 0.247);
	--logo-icon-scrolDown: rgba(66, 66, 66, 0.308);
	--white: #ffffff;
	--black: #000000;
	--transparent-black: rgba(0, 0, 0, 0.774);
}
/* 
body.light {
	--background-color: #ddd;
	--button-nav: #f1ab13;
	--text: #ffffff;
	--small-text: white;
	--logo: rgb(255, 255, 255);
	--logo-ScrollDown: rgb(0, 0, 0);
	--logo-Icon: rgba(255, 255, 255, 0.247);
	--logo-icon-scrolDown: rgba(66, 66, 66, 0.308);
	--white: #ffffff;
	--black: #000000;
	--transparent-black: rgba(0, 0, 0, 0.774);
}
body.dark {
	--background-color: #333;
} */
